#landingpage__section {
  min-height: 100vh;
  background: #0d0d0d;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 80px;
  align-items: center;
}

.landingpage__section--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ebe6e6;
  text-align: center;
  margin: 0 auto;
}

.landingpage__section--header {
  font-family: "Montserrat";
  font-size: 56px;
  padding: 16px 0 16px 0;
  position: relative;
}

.landingpage__section--subheading {
  font-family: "Lato";
  font-size: 40px;
  padding: 16px 0 16px 0;
}
.landingpage__section--para {
  font-family: "Lato";
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1.3px;
}

.scroll {
  margin-top: 48px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 600;
  background-color: #0d0d0d;
  border-radius: 8px;
  box-shadow: rgba(110, 109, 109, 0.368) 0px 2px 8px 0px;
  padding: 16px;
}

.scroll--heading {
  color: #1dbf73;
  transition: transform 0.2s ease;
}

.scroll--heading:active {
  transform: translateY(5px);
}

.orange {
  background: linear-gradient(90deg, #de946a 0%, #f39b68 50%, #ea8c55 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
}
