#landingpage__section {
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingpage__section--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5f5f5f;
  text-align: center;
  margin: 0 auto;
}

.landingpage__section--header {
  font-family: "Montserrat";
  font-size: 56px;
  padding: 16px 0 16px 0;
}

.landingpage__section--subheading {
  font-family: "Lato";
  font-size: 40px;
  padding: 16px 0 16px 0;
}
.landingpage__section--para {
  font-family: "Lato";
  font-size: 24px;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5f5f5f;
  font-family: "Lato";
  margin-top: 48px;
  font-size: 24px;
}
