#nftsaledetails {
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
  height: 100vh;
}

.nftsaledetails__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nftsaledetails__container--header {
  font-family: "Montserrat";
  font-size: 36px;
  padding-top: 24px;
  color: #ebe6e6;
}

.nftsaledetails__subcontainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Lato";
  color: #ebe6e6;
}

.nftimg__left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: 0 16px 0 16px;
}

.nftresult__right-container {
  width: 550px;
  border-radius: 8px;
  margin: 0 16px 0 16px;
  background-color: #202020b3;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
  padding: 16px;
}

.nftresult__heading {
  padding: 8px;
}

.nft__image--wrapper {
  width: 100%;
}

.nft__image {
  width: 100%;
  border-radius: 8px;
}

.loading__text {
  font-family: "Lato";
  color: #1dbf73;
}

.null__background {
  background-color: #0d0d0d;
  height: 100vh;
}

.null__background--text {
  font-family: "Lato";
  color: #1dbf73;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.green {
  color: #1dbf73;
}

.green {
  color: #ff4d4f;
}

@media (max-width: 1200px) {
  .nftsaledetails__subcontainer {
    flex-direction: column;
    align-items: center;
  }
  .nftimg__left-container {
    margin-bottom: 24px;
  }
  .nftresult__right-container {
    margin-top: 24px;
  }
}

@media (max-width: 590px) {
  #nftsaledetails {
    overflow: hidden;
  }
  .nftresult__right-container {
    width: 400px;
    overflow-wrap: break-word;
  }
}
