#searchbar {
  min-height: 30vh;
  background-color: #fff;
  padding-top: 40px;
}

.searchbar__container {
  display: flex;
  justify-content: center;
}

.searchButton {
  background-color: #313131;
  border: none;
  border-radius: 6px;
  padding: 16px;
  margin-left: 8px;
  font-family: "Lato";
  color: #f6f2df;
}

.searchTerm {
  border: none;
  border-radius: 6px;
  padding: 16px 24px 16px 24px;
  margin-right: 8px;
  background-color: #313131;
  color: #f6f2df;
  font-family: "Lato";
  width: 500px;
}

::placeholder {
  font-family: "Lato";
  font-size: 16px;
  color: #f6f2df;
  width: 300px;
  padding-right: 100px;
}

:focus {
  outline: none;
}
