#searchbar {
  background-color: #0d0d0d;
  padding: 40px 0;
}

.searchbar__container {
  display: flex;
  justify-content: center;
}

.searchButton {
  background-color: #ea8c55;
  border: none;
  border-radius: 6px;
  padding: 16px;
  margin-left: 8px;
  font-family: "Lato";
  color: #f6f2df;
  transition: transform 0.2s ease-in;
}

.searchButton:active {
  transform: translateY(3px);
}

.searchTerm {
  border: none;
  border-radius: 6px;
  padding: 16px 24px 16px 24px;
  margin-right: 8px;
  background-color: #ea8c55;
  color: #ebe6e6;
  font-family: "Lato";
  width: 500px;
}

::placeholder {
  font-family: "Lato";
  font-size: 16px;
  color: #ebe6e6;
  width: 300px;
  padding-right: 100px;
}

:focus {
  outline: none;
}
