nav {
  font-family: "Lato";
  font-weight: 500;
  background-color: #0d0d0d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1dbf73;
}

.navbar__logo {
  width: 100px;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0 24px;
}

.navbar__list {
  display: flex;
  flex-direction: row;
}

.navbar__list-item {
  padding: 16px 16px 10px 18px;
  font-size: 20px;
  font-weight: 600;
}

.link__hover {
  display: inline-block;
  position: relative;
}

.link__hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ea8c55;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.link__hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 500px) {
  .navbar__container--right {
    display: none;
  }
  .navbar__container {
    justify-content: center;
  }
}
