#nftsalecollectionquery {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  background-color: #0d0d0d;
  color: #ebe6e6;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 8px 0;
}

.subheader {
  padding: 8px 0;
  color: #ea8c55;
}

.faq {
  padding: 8px 0;
  font-weight: bold;
}

.faq__para {
  font-weight: 500;
  padding: 8px 0;
  line-height: 30px;
  color: #ebe6e6;
}

.dashboard {
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: #0d0d0d;
  color: #ea8c55;
}

.table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.table__row {
  background-color: #f7fafc;
  border: 1px solid #e2e8f0;
  color: #2d3748;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.75rem;
  text-align: left;
  max-height: 400px; /* set the maximum height for the table */
  overflow-y: auto;
}

th {
  padding-bottom: 8px;
}

/* Add hover effect to the table row */
.table__row:hover {
  background-color: #edf2f7;
}

/* Style the table cell borders */
.table__row td {
  border: 1px solid #1d1d1d;
  background-color: #1d1d1d;
  color: #e2e8f0;
  padding: 0.5rem;
  max-width: 300px; /* Set a maximum width for each cell */
  overflow: hidden; /* Hide any overflowing content */
  text-overflow: ellipsis; /* Add an ellipsis to indicate truncated text */
  white-space: nowrap; /* Prevent line wrapping */
}

.dashboard__row--container {
  display: flex;
}

.column {
  padding: 0 12px;
}

.dashboard__header {
  padding: 16px;
}

.long-string {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pagination {
  font-family: "Lato";
  background-color: #0d0d0d;
  padding: 8px 0 8px 16px;
}

.pagination__btn {
  font-family: "Lato";
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  background-color: #ea8c55;
  color: #f6f2df;
}

.page__number {
  margin: 0 8px;
  color: #f6f2df;
}

@media (max-width: 1300px) {
  .table__row td {
    max-width: 150px; /* Reduce the maximum width for each cell */
    font-size: 12px; /* Decrease the font size */
    padding: 0.25rem; /* Reduce the padding */
  }
}

@media (max-width: 768px) {
  .table__row td {
    max-width: 120px; /* Reduce the maximum width for each cell */
    font-size: 10px; /* Decrease the font size */
    padding: 0.25rem; /* Reduce the padding */
  }
}

@media (max-width: 656px) {
  .table__row td {
    max-width: 60px; /* Reduce the maximum width for each cell */
    font-size: 10px; /* Decrease the font size */
    padding: 0.25rem; /* Reduce the padding */
  }
  .header {
    text-align: center;
    font-size: 20px;
  }
}
